
html, body, #root {
  height: 100%;
}
.loginPage{
    min-height: 600px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: url(./image/login2BG.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.loginBox{
    border: 1px solid #f8f8f8;
    width: 410px;
    min-height: 380px;
    max-height: 438px;
    justify-content: center;
    align-items: center;
    margin:0 auto;;
    background: #fff;
    border-radius: 5px;
}
.NoneDiv{
    flex-grow: 1;
}
.tip{
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
}
.left-tip{
    margin-right: 30px;
}
 .login-form {
  max-width: 320px;
  margin:45px auto 25px auto;
}
.login-input{
    height: 50px;
    padding-left: 18px;
    font-size: 14px;
    outline: none;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
  background: #1ABB9C;
  font-size: 18px;
  height: 50px;
  width: 320px;
  border-radius: 5px;
  border-color: #169f85;
  margin-top:30px;
  letter-spacing: 10px;
  padding-left: 10px;
}
.login-title{
    height: 60px;
    background: #F2F5F7;
    text-align: center;
}
.wh-logo{
    position: absolute;
    bottom: 23px;
    right: 23px;
}
.verify{
    padding: 0px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}
.not-clear{
    height: 50px;
    text-align: right;
    display: inline-block;
    line-height: 50px;
    text-decoration: underline;
}
.ant-form-item {
    font-size: 14px;
    margin-bottom: 10px;
    color: #9f9f9f;
    vertical-align: top;
    outline: none;
}
.ant-input{
    font-size: 14px;
}
.auto-login{
    color:#2a3f54;
    font-size: 14px;
    margin-top: 16px;
    border-color:#2a3f54;
    vertical-align: top;
}
.captcha{
    width: 100px;
    height: 50px;
}
/*调整自动登录样式*/
.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner{
    background-color: #1ABB9C;
    border-color: #169f85;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
    border-color: #169f85;
}
.ant-btn-primary:hover, .ant-btn-primary:focus{
    border-color: #169f85;
    background: #1ABB9C;
}
